{
  "openapi": "3.1.0",
  "info": {
    "title": "Google AI Browser API",
    "version": "1.0.0",
    "description": "Queue-based API for Gemini/ChatGPT web chat, Google Flow image/video generation, and ChatGPT web image generation through an authenticated browser extension. POST requests may return 200 completed or 202 queued/running; poll the returned job URL until terminal status."
  },
  "servers": [
    { "url": "https://image-ai.toidayhoc.com" }
  ],
  "security": [
    { "bearerAuth": [] },
    { "apiKeyAuth": [] }
  ],
  "paths": {
    "/extension/latest": {
      "get": {
        "summary": "Check the latest extension version published by this backend",
        "security": [],
        "responses": { "200": { "description": "Latest version and backend download URL", "content": { "application/json": { "schema": { "type": "object", "required": ["version", "downloadUrl"], "properties": { "version": { "type": "string" }, "downloadUrl": { "type": "string", "format": "uri" }, "pageUrl": { "type": "string", "format": "uri" } } } } } } }
      }
    },
    "/extension/download": {
      "get": {
        "summary": "Download the latest browser extension ZIP from GitHub Releases",
        "security": [],
        "responses": { "302": { "description": "Redirect to the latest GitHub release asset" } }
      }
    },
    "/health": {
      "get": {
        "summary": "Check API, queue, database and storage health",
        "security": [],
        "responses": { "200": { "description": "Healthy", "content": { "application/json": { "schema": { "type": "object" } } } } }
      }
    },
    "/assets": {
      "post": {
        "summary": "Upload a reference image",
        "description": "Send raw JPEG, PNG or WebP bytes. Use the returned URL as referenceImageUrl.",
        "requestBody": { "required": true, "content": {
          "image/jpeg": { "schema": { "type": "string", "format": "binary" } },
          "image/png": { "schema": { "type": "string", "format": "binary" } },
          "image/webp": { "schema": { "type": "string", "format": "binary" } }
        } },
        "responses": {
          "201": { "description": "Uploaded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Asset" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "415": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/generate": {
      "post": {
        "summary": "Create images from text or a reference image",
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ImageRequest" } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/JobCompleted" },
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/chat": {
      "post": {
        "summary": "Send one or more prompts to Gemini or ChatGPT web",
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatRequest" } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/JobCompleted" },
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/video": {
      "post": {
        "summary": "Create videos from text or a reference image",
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VideoRequest" } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/JobCompleted" },
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/video/extend": {
      "post": {
        "summary": "Extend a Google Flow scene",
        "description": "sourceFlowUrl must point to /project/.../scene/.... Run extensions sequentially for the same scene.",
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VideoExtendRequest" } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/JobCompleted" },
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "summary": "Get job progress and results",
        "parameters": [{ "name": "jobId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Current job", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Job" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" },
      "apiKeyAuth": { "type": "apiKey", "in": "header", "name": "X-API-Key" }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Strongly recommended unique key. Reuse only for the exact same request payload.",
        "schema": { "type": "string", "minLength": 1 }
      }
    },
    "responses": {
      "JobCompleted": { "description": "Job completed before the synchronous wait ended", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Job" } } } },
      "JobAccepted": { "description": "Job queued or running; poll Location or /jobs/{id}", "headers": { "Location": { "schema": { "type": "string" } }, "Retry-After": { "schema": { "type": "integer" } } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Job" } } } },
      "Error": { "description": "Invalid request or operation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Unauthorized": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
    },
    "schemas": {
      "PromptInput": {
        "type": "object",
        "description": "Provide prompt or prompts, not both.",
        "properties": {
          "prompt": { "type": "string", "minLength": 1 },
          "prompts": { "type": "array", "minItems": 1, "maxItems": 100, "items": { "type": "string", "minLength": 1 } }
        },
        "anyOf": [{ "required": ["prompt"] }, { "required": ["prompts"] }]
      },
      "ImageRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/PromptInput" },
          { "type": "object", "properties": {
            "provider": { "type": "string", "enum": ["flow", "chatgpt"], "default": "flow", "description": "ChatGPT requires worker=extension, outputs=1, and no referenceImageUrl." },
            "ratio": { "type": "string", "enum": ["16:9", "4:3", "1:1", "3:4", "9:16"], "default": "16:9" },
            "outputs": { "type": "integer", "minimum": 1, "maximum": 4, "default": 1 },
            "worker": { "type": "string", "enum": ["extension", "playwright"], "default": "extension" },
            "referenceImageUrl": { "type": "string", "format": "uri" },
            "maxRetries": { "type": "integer", "minimum": 0, "maximum": 5, "default": 0 }
          } }
        ]
      },
      "ChatRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/PromptInput" },
          { "type": "object", "properties": {
            "provider": { "type": "string", "enum": ["gemini", "chatgpt"], "default": "gemini" },
            "model": { "type": "string", "enum": ["3.5-flash-lite", "3.1-pro", "default"] },
            "chatUrl": { "type": "string", "format": "uri" },
            "newConversation": { "type": "boolean", "default": true },
            "maxRetries": { "type": "integer", "minimum": 0, "maximum": 5 }
          } }
        ]
      },
      "VideoRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/PromptInput" },
          { "type": "object", "properties": {
            "ratio": { "type": "string", "enum": ["16:9", "9:16"], "default": "16:9" },
            "referenceImageUrl": { "type": "string", "format": "uri" },
            "maxRetries": { "type": "integer", "minimum": 0, "maximum": 5 }
          } }
        ]
      },
      "VideoExtendRequest": {
        "type": "object",
        "required": ["sourceFlowUrl", "prompt"],
        "properties": {
          "sourceFlowUrl": { "type": "string", "format": "uri", "pattern": "/project/.+/scene/.+" },
          "prompt": { "type": "string", "minLength": 1 },
          "maxRetries": { "type": "integer", "minimum": 0, "maximum": 5, "default": 0 }
        }
      },
      "Asset": {
        "type": "object",
        "required": ["id", "url", "size", "contentType"],
        "properties": {
          "id": { "type": "string" }, "url": { "type": "string", "format": "uri" }, "size": { "type": "integer" }, "contentType": { "type": "string" }
        }
      },
      "Job": {
        "type": "object",
        "required": ["id", "status"],
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "enum": ["chat", "image", "video"] },
          "provider": { "type": ["string", "null"], "enum": ["flow", "gemini", "chatgpt", null] },
          "mode": { "type": ["string", "null"] },
          "status": { "type": "string", "enum": ["queued", "running", "completed", "failed"] },
          "retryAfterSeconds": { "type": "integer" },
          "progress": { "type": "integer" },
          "total": { "type": "integer" },
          "images": { "type": "array", "items": { "type": "string", "format": "uri" } },
          "videos": { "type": "array", "items": { "type": "string", "format": "uri" } },
          "response": { "type": ["string", "null"] },
          "responses": { "type": "array", "items": { "type": "string" } },
          "flowUrl": { "type": ["string", "null"], "format": "uri" },
          "conversationUrl": { "type": ["string", "null"], "format": "uri" },
          "durationSeconds": { "type": ["number", "null"] },
          "failures": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["index", "code", "error"],
              "properties": {
                "index": { "type": "integer", "minimum": 1 },
                "code": { "type": "string", "description": "provider_quota means the signed-in provider account has exhausted image quota; do not retry until reset." },
                "error": { "type": "string" }
              }
            }
          },
          "error": { "type": ["string", "null"] }
        },
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": { "error": { "type": "string" } }
      }
    }
  }
}
